{% extends "template.html" %}

<!--{% block head %}
{% endblock %}-->
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">ToDo Breadcrumbs</h1>
  <button id="btn-export" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
	</div>

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Router Details</h6>
		</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered nowrap" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Device Series</th>
						<th>Device Model</th>
						<th>IP Address</th>
						<th>Reservation Status</th>
						<th>User</th>
						<th>Release Date</th>
						<th>Action</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Device Series</th>
						<th>Device Model</th>
						<th>IP Address</th>
						<th>Reservation Status</th>
						<th>User</th>
						<th>Release Date</th>
						<th>Action</th>
					</tr>
				</tfoot>
				<tbody>
					{% for row in route %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					{% if row[10] == "Unreachable" %}
						<td bgcolor="red"><font color="#fff">{{ row[2] }}</font></td>
					{%else%}
						<td>{{ row[2] }}</td>
					{%endif%}

					{%if row[4] == None %}
						<td>Free</td>
					{% else %}
						<td>{{ row[3] }}</td>
					{%endif%}

					<form action="{{url_for('router_admin') }}" method="post">
						{%if row[4] == "None" %}
											<td><input type={{ row[6] }} name="userid" value="{{request.form.userid}}"></td>
						{% else %}
							<td>{{ row[4] }}</td>
						{%endif%}

						<td>{{ row[5] }}</td>
						<td>
								<select name="Action" >
									<option value="Assign" {{ row[7] }}>Assign</option>
								<option value="Extend" {{ row[8] }}>Extend</option>
									<option value="Release" {{ row[9] }}>Release</option>
									</select>
							<input id="assignid" name="assignid" type="hidden" value="{{ row[2] }}">
							<button type="submit" class="btn btn-info">Submit</button>

						</td>
					</form>
				</tr>
				{% endfor %}
				</tbody>

					</table>
        </div>
	</div>
</div>
{% endblock %}
