{% extends "template.html" %}
<!--{% block head %}
{% endblock %}-->
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">ToDo Breadcrumbs</h1>
	<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Switch Details</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Device Series</th>
						<th>Device Model</th>
						<th>IP Address</th>
						<th>Reservation Status</th>
						<th>User</th>
						<th>Release Date</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Device Series</th>
						<th>Device Model</th>
						<th>IP Address</th>
						<th>Reservation Status</th>
						<th>User</th>
						<th>Release Date</th>
					</tr>
				</tfoot>
				<tbody>
					{% for row in switch %}
					<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>{{ row[2] }}</td>
					<td>{{ row[3] }}</td>
					<td>{{ row[4] }}</td>
					<td>{{ row[5] }}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
